@use './variables' as *;

// screen breakpoints
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}


// font mixins - mobile

@mixin m-h1-page-header{
    font-family: 'titillium';
    font-size: 1.75rem;
    line-height: 2.25rem;
}

@mixin m-h2-subheader{
    font-family: 'titillium';
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}

@mixin m-h3-labels-links-buttons{
    font-family: 'titillium';
    font-size: .8125rem;
    line-height: 1.25rem;
    font-weight: 600;
}

@mixin m-h4-table-header{
    font-family: 'titillium';
    font-size: .6875rem;
    line-height: 1rem;
}

@mixin m-p1-body-large{
    font-family: 'titillium';
    font-size: .9375rem;
    line-height: 1.625rem;
}

@mixin m-p2-body-medium{
    font-family: 'titillium';
    font-size: .8125rem;
    line-height: 1.25rem;
}

@mixin m-p3-body-small{
    font-family: 'titillium';
    font-size: .6875rem;
    line-height: 1rem;
}

// font mixins - desktop/tablet
@mixin td-h1-page-header{
    font-family: 'titillium';
    font-size: 2rem;
    line-height: 2.5rem;
}

@mixin td-h2-subheader{
    font-family: 'titillium';
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin td-h3-labels-links-buttons{
    font-family: 'titillium';
    font-size: .875rem;
    line-height: 1.375rem;
}

@mixin td-h4-table-header{
    font-family: 'titillium';
    font-size: .75rem;
    line-height: 1.125rem;
}

@mixin td-p1-body-large{
    font-family: 'titillium';
    font-size: 1rem;
    line-height: 1.75rem;
}

@mixin td-p2-body-medium{
    font-family: 'titillium';
    font-size: .875rem;
    line-height: 1.375rem;
}

@mixin td-p3-body-small{
    font-family: 'titillium';
    font-size: .75rem;
    line-height: 1.125rem;
}

//Mixins for forms/ form fields

@mixin input {
    border: $border;
    border-radius: 20px;
    padding: 16px;
}

@mixin m-input {
    @include input;
    width: 100%;
    height: 36px;
}

@mixin td-input {
    @include input;
    width: 100%;
    height: 38px;
}

//Mixin for button

@mixin button {
    padding: 8px 16px;
    border-radius: 20px;
    border: $border;
}