@font-face {
    font-family: 'titillium';
    font-weight: 600;
    src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: 'titillium';
    font-weight: 400;
    src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}