@font-face {
    font-family: 'Avenir';
    font-weight: bold;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: 'Avenir';
    font-weight: 400;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}