$mobile-header-text: 1.5rem;
$mobile-section-text: .75rem;
$mobile-subheader-text: .8125rem;
$mobile-body-text: .8125rem;
$mobile-body-copy: .8125rem;
$mobile-label: .8125rem;

$desktop-page-header: 2.0625rem;
$desktop-section-header: .75rem;
$desktop-subheader: .875rem;
$desktop-body-copy: .875rem;
$desktop-label: .875rem;
  
$BrainFlix-Blue: #0095FF;
$BrainFlix-DarkBlue: #0065AD;
$Silver: #AFAFAF;
$Black: #323232;
$Alabaster: #FAFAFA;
$White: #FFFFFF;
$Mercury: #E1E1E1;
$BrainFlix-DarkBlack: #000000;