@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.delete-container {
    background-color: $primary-white;
    padding: 1rem;
    margin: 0 auto;

    @include tablet {
        width: 90%;
        margin-left: 3rem;
        margin-top: 5rem;
        padding: 0.8rem;
    }

    @include desktop {
        margin: 10rem 20rem;
        width: 60%;
    }

    &__title {
        @include td-h1-page-header;
        padding-bottom: 24px;
        width: 80%;

        @include tablet {
            @include td-h1-page-header;
            padding-left: 5rem;
        }

    }

    &__text {
        @include m-p2-body-medium;
        padding-bottom: 35rem;
        width: 80%;

        @include tablet {
            padding-bottom: 1.25rem;
            padding-left: 5rem;
            width: 84%;
            @include td-p2-body-medium;

        }
    }

    &__button1 {
        color: $secondary-slate;
        background-color: $primary-white;
        border-radius: 20px;
        height: 2.25rem;
        width: 44%;
        border: solid 1px $background-graphite;

        &:hover {
            color: $primary-indigo;
            border: solid 1px $primary-indigo;
        }

        @include tablet {
            height: 2.375rem;
            height: 2.375rem;
            width: 10%;
            margin-left: 28.5rem;

            @include desktop {
                margin-left: 30rem;
            }

        }
    }

    &__button2 {
        color: $primary-white;
        background-color: $supporting-red;
        border-radius: 20px;
        height: 2.25rem;
        width: 44%;
        border: none;
        margin-right: 2em;

        &:hover {
            background-color: $background-graphite;
        }

        @include tablet {
            height: 2.375rem;
            width: 10%;
            margin-right: 4rem;

            @include desktop {
                margin-right: 5.5rem;
            }

        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 110%;

        @include tablet {
            width: 100%;
        }
    }

    &__close-image {
        padding-left: 90%;

        @include tablet {
            padding-left: 96%;
        }
    }
}