@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'titillium';
}
.inventory-titles{
    background-color: $background-grey;
    padding: 1rem 2rem;
    color: $secondary-slate;
    display: flex;
    align-items: center;
    width: 100%;
    &__text{
        width: calc(100% - 2rem);
    }
    &__last-text{
        display: flex;
        justify-content: flex-end;
    }
}

.inventory-item{
    width: 100%;
    border-bottom: 2px solid $secondary-cloud;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    &__name{
        color: $primary-indigo;
        width: calc(100% - 2rem);
    }
    &__icons{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__quantity{
        width: calc(100% - 2rem);
    }
    &__category{
        width: calc(100% - 2rem);
    }
}

.in-stock{
        color:blue;
        border-radius: 4px;
        text-shadow: 0 0 5px lightblue,0 0 5px lightblue;
        width: calc(100% - 2rem);
}
.out-of-stock{
        color: $supporting-red;
        border-radius: 4px;
        text-shadow: 0 0 5px pink,0 0 5px pink;
        width: calc(100% - 2rem);
}

.column{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}
.row{
    display: flex;
    width: calc(100% - 2rem);
    justify-content: space-between;
}

.delete{
    padding-right: 1rem;
    &:hover{
        cursor:pointer;
    }

}
a{
    text-decoration: none;
    width: 100%;
}