@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.modal-overlay__container {
    padding: 10px;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1000;

    @include tablet {
        background-color: rgba($primary-black, .65);
    }
}