@use "/src/styles/partials/globals.scss" as *;
@use "/src/styles/partials/variables.scss" as *;
@use "/src/styles/partials/mixins.scss" as *;

.warehouses__lists{
    &-header{
        display: flex;
        justify-content: space-evenly;
        
        &-column-title{
            display: flex;
            width: 17%;
        }
    }
    
}

.warehouses__list{
    &-content-row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 17%;
        }
    }

}
.phone-email{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.warehouses__name{
    display: flex;
}

// .ware-houses_main{
//     font-family: Arial, Helvetica, sans-serif;
//     margin:1rem;
//     border-radius: 9px;
//     background-color: white;
//     box-shadow:
//         -0.6px -1.6px 4.4px rgba(0, 0, 0, 0.022),
//         -0.3px -0.7px 7.6px rgba(0, 0, 0, 0.028),
//         0.8px 2.3px 9.6px rgba(0, 0, 0, 0.03),
//         2.8px 7.4px 10.6px rgba(0, 0, 0, 0.031),
//         5.8px 15.4px 12.4px rgba(0, 0, 0, 0.032),
//         12px 32px 21px rgba(0, 0, 0, 0.04)
//         ;
//     .title{
//         display: flex;
//         justify-content: space-between;
//         padding: 2rem 1rem;
//         .title_search{
//             display: flex;
//             align-items: center;
//             .search_main{
//                 .search_image{
//                     height: 2rem;
//                     position: relative;
//                     left: 52.5%;
//                     top:1.5rem;
//                     @media  (max-width: 767px) {
//                         max-width: max-content;
//                         left: 42.5%
//                     }
//                 }
//                 .search_input{
//                     background-color: transparent;
//                     width: 75%;
//                     padding: 1rem 1.5rem;
//                     border-radius: 2rem;
//                     // border: 1px solid black;
//                     outline: 1px solid;
//                     border: none;
//                     position: relative;
//                     top: -1.25rem;
//                     font-size: 16px;
//                     &:focus{
//                         outline: 1px solid rgb(64, 64, 255);
//                     }
//                     @media  (max-width: 767px) {
//                         width: 85%;
//                     }
//                 }
//             }
//             .add_button{
//                 font-size: 16px;
//                 font-weight: bold;
//                 text-align: center;
//                 color: white;
//                 background-color: blue;
//                 border: none;
//                 padding: 1rem;
//                 border-radius: 2rem;
//                 transition: all 0.2s;
//                 &:hover{
//                     background-color: black;
//                 }
//             }
//             @media  (max-width: 767px) {
//                 &{
//                     display: block;
//                     width: 100%;
//                     *{
//                         margin: auto;
//                     }
//                 }
//             }
//         }
//         *{
//             width: 50%;
//         }
//         @media  (max-width: 767px) {
//             &{
//                 display: block;
//                 *{
//                     display: block;
//                     width: 80%;
//                 }
//             }
//         }
//     }
    
//     .content{
//         border-collapse: collapse;
//         display: flex;
//         flex-wrap: wrap;
//         width: 100%;
        
//         .headers{
//             background-color: rgb(223, 224, 238);
//         }
        
//         .headers, .content_rows{
//             width: 100%;
//             display: flex;
//             flex-wrap: wrap;
//             .row{
//                 padding: 0.5rem 1rem;
//                 display: flex;
//                 width: 100%;
//                 transition: all 0.1s;
//                 &:hover{
//                     background-color: rgb(231, 231, 255);
//                 }
//                 .row_cell{
//                     width: 20%;
//                     padding: 8px 0;
//                     display: flex;
//                     text-align: left;
//                     align-items: center;
//                     .image{
//                         height: 16  px;
//                         margin-left:0.5rem;
//                         &_action{
//                             height: 32px;
//                             margin-right:1rem ;
//                         }
//                     }
//                     &.warehouse{
//                         font-weight: 600;
//                         color: blue;
//                         :hover{
//                         cursor: pointer;
//                         text-decoration: underline;
//                         }
//                     }
//                     .title{
//                         font-size: 10px;
//                         display: none;
//                         font-weight: bold;
//                     }
//                 }
//                 .row_actions{
//                     text-align: center;  
//                     padding-left: 0.5rem
//                 }
//             }
//         }  
//         .content_rows{
//             .row{
//                 border-top: 1px solid black;
//             }
//         }
//         @media  (max-width: 767px) {
//             .headers{
//                 display: none;
//             }
//             .content_rows .row {
//                 flex-wrap: wrap;
//                 .row_cell{
//                     width: 50%;
//                     flex-wrap: wrap;
//                     .title{
//                         display: block;
//                         width: 100%;
//                         padding: 0;
//                         color: grey;
//                     }
//                 }
//                 .row_actions{
//                     display: flex;
//                     width: 100%;
//                     justify-content: space-between;
//                 }
//             }
//         }
//     }
    

// }