@use "../styles/partials/mixins" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/globals" as *;

.header {
    padding: 24px 16px;
    background-color: $background-graphite;
    color: $primary-white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vw;
    @include tablet {
        height: 10vh;
        flex-direction: row;
    }
    &__logo {
        padding-bottom: 8px;
        @include tablet {
            width: 50%;
        }
    }
    &__nav {
        width: 100%;
        @include tablet {
            width: 50%;
        }
    }
    &__navList {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        width: 100%;
        @include tablet {
            justify-content: flex-end;
        }
    }
    &__navItemLink {
        @include m-p2-body-medium;
        color: $primary-white;
        text-decoration: none;
        border-radius: 20px;
        // width: 50%;
        padding: 8px 24px;
    }
    &__navItemLink:hover {
        font-weight: 600;
        text-decoration: underline;
    }
    &__navItemLink:active {
        width: 50%;
        background-color: $primary-black;
        color: $primary-white;
        text-decoration: none;
        border-radius: 20px;
        height: 36px;
    }
}